div {
    text-align: center;
  }
  
body {
    font-family: Sans-Serif;
}

rect {
    fill: cadetblue;
    opacity: 0.3;
    stroke: white;
}

text {
    font-size: 12px;
    text-anchor: middle;
}
  
  