/* Add to any HTML element for extra top margin */
.space {
    margin-top: 20px;
}

div {
    text-align: center;
}

.button {
    background-color: #4CAF50; /* Green */
    /* border: none; */
    padding: 12px 22px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.button:hover {
    background-color: white;
    color: #4c9ed9;
    border: 1px solid #111;
}