.continent {
	/* fill: #ededed; */
	stroke: #d0d0d0;
	stroke-width: 0.8;
    fill:#A0A0A0;
}

.dark-continent {
	fill: #eeeeee;
	stroke: #bbbbbb;
}

.grid {
	fill: none;
	stroke: #333;
}

.circles {
    stroke: #555155;
    stroke-width: 0;
}

.c2 {
	stroke-width: 0.5;
}

.non-c2 {
	stroke-width: 0.5
}

.diamonds {
    stroke-width: 0;
}

.labels {
	font-family: sans-serif;
	font-size: 12px;
	/* fill: #3c373d; */
}

.tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16pt;
    background-color:rgba(246,201,0,0.4);
    padding: 2px;
    pointer-events: none;
}