* {
  box-sizing: border-box;
}


html, body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#chart {
  width: 100%;
  height: 80vh;
  position: relative;
}

.axisLabel {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16pt;
  font-weight: bold;
  text-anchor: middle;
}

.axis {
  font-size: 10pt;
}

/* Style properties for tooltips */
.tooltip {
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 0px;

  /* Adjust sizes, fonts, etc., just for the tooltip
  based on your personal preferences */

  /* padding: 2px;
  background-color: rgba(255,255,255,0.8);
  font-size: 11pt; */
}

h2{
  padding-left: 40px;
  text-align: left;
}

/* Style properties for legends */
#legend {
  width: 35%;
  float: left;
}

.legend--label {
  font-size: 12pt;
  /* dominant-baseline: central; */
}
